<footer>
    <div class="row" style="color:white;width: 90%;margin:auto;padding-top: 100px;">
        <div class="col-md-3">
            <h6 class="footer">INFOMATION</h6>
            <ul>
                <li style="color:#3ad1d1">Home</li>
                <a href="#" class="footer_link"><li>Search</li></a>
                <a href="#" class="footer_link"><li>Blog</li></a>
                <a href="#" class="footer_link"><li>Collection</li></a>
                <a href="#" class="footer_link"><li>About us</li></a>
                <a href="#" class="footer_link"><li>Wishlist</li></a>
                <a href="#" class="footer_link"><li>Sitemap</li></a>

            </ul>
        </div>
        <div class="col-md-3">
            <h6 class="footer">CATEGORIES</h6>
            <ul>
                <a href="#" class="footer_link"><li>Best seller</li></a>
                <a href="#" class="footer_link"><li>Boys`</li></a>
                <a href="#" class="footer_link"><li>Girls`</li></a>
                <a href="#" class="footer_link"><li>Lifestyle Collection</li></a>
                <a href="#" class="footer_link"><li>New Arrivals</li></a>
                <a href="#" class="footer_link"><li>Aerobics</li></a>
                <a href="#" class="footer_link"><li>Badminton</li></a>
            </ul>

        </div>
        <div class="col-md-3">
            <h6 class="footer">My account</h6>
            <ul class="footer_link">
                <a href="#" class="footer_link"><li>My account</li></a>
                <a href="#" class="footer_link"><li>My address</li></a>
                <a href="#" class="footer_link"><li>My cart</li></a>
            </ul>
        </div>
        <div class="col-md-3">
            <h6 class="footer">STORE INFOMATION</h6>
            <div class="contact_address">
                <span class="glyphicon glyphicon-globe"></span><span style="color:#3ad1d1">   MY COMPANY,</span><br>
                <span class="contact"><a href="#" class="footer_link">   XXXXXXXXXXXXXXX</a></span>
            </div><br>
            <div class="contact_phone">
                <span class="glyphicon glyphicon-phone"></span><span style="color:#3ad1d1">   CALL US</span><br>
                <span><a href="#" class="footer_link">xxx-xxx-xxx</a></span>
            </div><br>
            <div class="contact_email">
                <span class="glyphicon glyphicon-envelope"></span><span style="color:white"><a href="#" class="footer_link">   info@gmail.com</a> </span>
            </div>
        </div>
    </div>

</footer>