<header>
    <div class="container-fluid">
        <div class="row header1">
            <div class="col-md-3">
                <a href="#">MY ACCOUNT</a>
                <a href="#">WISHLIST</a>
                <a href="#">CHECKOUT</a>

            </div>
            <div class="col-md-2 col-md-offset-6 header_social">
                <img class="logosmall " src="../../image/logo/twitter-square-logo.png">
                <img class="logosmall " src="../../image/logo/twitter-square-logo.png">
                <img class="logosmall" src="../../image/logo/twitter-square-logo.png">

            </div>
        </div>
        <div class="row header2">


            <nav class="navbar ">
                <div class="container-fluid row">
                    <div class="col-md-2">
                        <div class="navbar-header">
                            <a href="#"><img class="logoshop" src="../../image/logo/running-shoe-co_adidas-logo.png"> </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-3">
                        <div class="col-md-6">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="../home/Index.html">Home</a></li>
                                <li><a href="../product/index-product.html">Products</a></li>
                                <li><a href="../Blog/Blog2.html">Blog</a></li>
                                <li><a href="#">Sale</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="../Contact Us-demo/Contact-Us.html">Contact us</a></li>
                                <li>
                                    <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse3">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search" />
                                    </div>
                                    <button type="submit" class="btn btn-danger btn_search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.navbar-collapse -->

                </div>
            </nav>
        </div>

    </div>
</header>