<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/Contact-Us.css">
    <link rel="stylesheet" href="../../css/index-style.css">
    <script
      src="http://code.jquery.com/jquery-1.10.2.js"
      integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
      crossorigin="anonymous"></script>
</head>
<script>
    $(function(){
        $("#header").load("../common/header.html");
        $("#footer").load("../common/footer.html");
    });
</script>
<body>
<div id="header"></div>
<header>
    <img src="../../image/background/london-marathon-2294025_1920.jpg"/>
</header>
<div class="container main">
    <p><a href="#">Home</a> / <span>Contact Us</span></p>
    <div class="col-sm-3 slide_list">
      <div class="collections_list">
        <h3>collections</h3>
        <a href="#">Aerobics</a><br>
        <a href="#">Athletics</a><br>
        <a href="#">Badminton</a><br>
        <a href="#">Best Sellers</a><br>
        <a href="#">Boys'</a><br>
        <a href="#">Cycling</a><br>
        <a href="#">Fitness and Exercise</a><br>
        <a href="#">Football</a><br>
        <a href="#">Girls'</a><br>
        <a href="#">Lifestyle Collection</a><br>
        <a href="#">New Arrivals</a><br>
      </div>
        <div class="productlist">
            <h3>PRODUCT TYPES</h3><br>
            <a href="#">Best Sellers</a><br>
            <a href="#">Boys`</a><br>
            <a href="#">Girls`</a><br>
            <a href="#">New Arrivals</a><br>
        </div>
        <div class="vendor_list">
            <h3>vendors</h3>
            <a href="#">China</a><br>
            <a href="#">Germany</a><br>
            <a href="#">Italy</a><br>
            <a href="#">USA</a><br>
        </div>
        <div class="bestseller_list">
            <h3>Best sellers</h3>
            <ul>
                <li>
                    <div class="product1 container-fluid">
                        <div class="col-sm-5 product1_img">
                            <img src="http://cdn.shopify.com/s/files/1/1774/5405/products/keds_kickstart_stripe_01_compact.png?v=1486979750" alt="KEDS KickStart Stripe">
                        </div>
                        <div class="col-sm-7 product1_info">
                            <a href="#">KEDS KICKSTART STRIPE</a><br>
                            <div class="container-fluid price">
                                <p>$46.00</p>
                                <div class="myButton">
                                <a href="#"style=" border-radius: 28px; border: 1px solid rgb(41, 102, 143); display: inline-block; cursor: pointer; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px; font-weight: bold; padding: 20px 17px; text-decoration: none; text-shadow: rgb(61, 118, 138) 0px 1px 0px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product2 container-fluid">
                        <div class="col-sm-5 product1_img">
                            <img src="http://cdn.shopify.com/s/files/1/1774/5405/products/keds_taylor_swift_s_anchor_stripe_01_compact.png?v=1486979761" alt="KEDS Taylor Swift`s Anchor Stripe">
                        </div>
                        <div class="col-sm-7 product1_info">
                            <a href="#">KEDS TAYLOR SWIFT`S ANCHOR STRIPE</a>
                            <div class="container-fluid price">
                                <p>From $19.00</p><br>
                                <span>$24.00</span>
                                <div class="myButton">
                                    <a href="#"style=" border-radius: 28px; border: 1px solid rgb(41, 102, 143); display: inline-block; cursor: pointer; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px; font-weight: bold; padding: 20px 17px; text-decoration: none; text-shadow: rgb(61, 118, 138) 0px 1px 0px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product3 container-fluid">
                        <div class="col-sm-5 product1_img">
                            <img src="http://cdn.shopify.com/s/files/1/1774/5405/products/keds_taylor_swift_s_dot_01_compact.png?v=1486979773" alt="KEDS Taylor Swift`s Dot">
                        </div>
                        <div class="col-sm-7 product1_info">
                            <a href="#">KEDS TAYLOR SWIFT`S DOT</a>
                            <div class="container-fluid price">
                                <p>$36.00</p>
                                <span>$40.00</span>
                                <div class="myButton">
                                    <a href="#"style=" border-radius: 28px; border: 1px solid rgb(41, 102, 143); display: inline-block; cursor: pointer; color: rgb(255, 255, 255); font-family: Arial; font-size: 16px; font-weight: bold; padding: 20px 17px; text-decoration: none; text-shadow: rgb(61, 118, 138) 0px 1px 0px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="contact_page">
            <h3 class="page_heading">Contact us</h3>
            <div style="margin: 50px 0">
                google fucking map
            </div>
            <div class="rte">
                You can contact us any way that is convenient for you. We are available 24/7 via fax, email or telephone. You can also use a quick contact form below or visit our office personally. Email us with any questions or inquiries. We would be happy to answer you.
            </div>
            <div class="row contactform">
                <div class="form-group col-sm-4">
                    <label for="usr">Your Name:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="form-group col-sm-4">
                    <label for="usr">E-mail:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="form-group col-sm-4">
                    <label for="usr">Phone Number:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="messbox row">
                    <label for="usr">Message:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="btn_toolbar row">
                    <a href="#">
                        Send
                    </a>
                    <a href="#">
                        Clear
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>
</html>