<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<link rel="stylesheet" href=".../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/product.css">
	<link rel="stylesheet" href="../../css/index-style.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|PT+Sans+Narrow" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Khula|Libre+Baskerville|PT+Sans+Narrow" rel="stylesheet">
	<script src="../../JS/bootstrap.min.js"></script>
	<script src="../../JS/jquery.js"></script>
	<script
      src="http://code.jquery.com/jquery-1.10.2.js"
      integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
      crossorigin="anonymous"></script>
</head>
<script>
    $(function(){
        $("#header").load("../common/header.html");
        $("#footer").load("../common/footer.html");
    });
</script>
<body>	
	<div id="header"></div>
	<div class="container">
		<div class="wrapper">
			<div class="my-nav">
				<a href="../../home/Index.html" class="dacbiet">Home</a>
				<p>/</p>
				<p>Aerobics</p>
			</div> <!-- end my-nav -->
			<div style="clear: left"></div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div class="menu-left">
						<div class="category">Collections</div>
						<nav>
							<ul>
								<li><a href="" title="" class="skyblue">Aerobics</a></li>
								<li><a href="">Athletics</a></li>
								<li><a href="">Badmintion</a></li>
								<li><a href="">Best Sellers</a></li>
								<li><a href="">Boy's</a></li>
								<li><a href="">Cycling</a></li>
								<li><a href="">Fitness and Exercise</a></li>
								<li><a href="">Football</a></li>
								<li><a href="">Girls'</a></li>
								<li><a href="">Free style</a></li>
							</ul>
						</nav>
					</div> <!-- end menu-left -->

					<div class="menu-left">
						<div class="category">Collections</div>
						<nav>
							<ul>
								<li><a href="" title="" class="skyblue">Aerobics</a></li>
								<li><a href="">Athletics</a></li>
								<li><a href="">Badmintion</a></li>
								<li><a href="">Best Sellers</a></li>
							</ul>
						</nav>
					</div> <!-- end menu-left -->

					<div class="menu-left">
						<div class="category">Collections</div>
						<nav>
							<ul>
								<li><a href="" title="" class="skyblue">Aerobics</a></li>
								<li><a href="">Athletics</a></li>
								<li><a href="">Badmintion</a></li>
								<li><a href="">Best Sellers</a></li>
							</ul>
						</nav>
					</div> <!-- end menu-left -->

					<div class="menu-left">
						<div class="category">Collections</div>
						<div class="sell">
							<img src="../../image/img-article/Untitled.png" alt="">
							<div class="capption">
								<h5>KEDS KICKSTART STRIPE</h5>
								<p>$46.00</p>
								<div class="btn btn-info">View</div>
							</div>
						</div>
						<div class="sell">
							<img src="../../image/img-article/Untitled.png" alt="">
							<div class="capption">
								<h5>KEDS KICKSTART STRIPE</h5>
								<p>$46.00</p>
								<div class="btn btn-info">View</div>
							</div>
						</div>
						<div class="sell">
							<img src="../../image/img-article/Untitled.png" alt="">
							<div class="capption">
								<h5>KEDS KICKSTART STRIPE</h5>
								<p>$46.00</p>
								<div class="btn btn-info">View</div>
							</div>
						</div>
					</div> <!-- end menu-left -->


				</div>

				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<div class="content-right">
						<div class="row one">
							<div class="category-right">Collections</div>
							<div class="menu">
								<a href="#" class="skyblue-right">All</a>
								<a href="#" title="">Boots</a>
								<a href="#" title="">Lace Ups</a>
								<a href="#" title="">Mid Tops</a>
							</div>
							<article>
								<img src="../../image/img-article/Untitled.png" alt="">
								<p>Either you have a quick pace of your life or a slow relaxed rhythm, there is nothing better that stepping in your favorite sneakers and heading off  to wherever. So you can see the result - a big store with a huge choice, a well-trained staff who is always there for you, a flexible return policy and in-time delivery just to your door. We’d love to hear your feedback on our product and customer service.</p>
							</article>
						</div>
						<div class="row panel">
							<div class="panel panel-default">
								<div class="panel-body">
									
									Similar product
								</div>
							</div>
						</div> <!-- end row panel -->
						
						<div class="row two">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="thumbnail">
									<img src="../../image/img-article/Untitled.png" alt="">
									<div class="caption">
										<h3><a href="#">KEDS CHAMPION DIAMOND DOT SNEAKERS</a></h3>
										<p>
											AEROBICS BOYS' FOOTBALL
										</p>
										<div class="money">$56.00</div>
										<p class="text-center">
											<a href="#" class="btn btn-primary">Add To cards</a>
										</p>
									</div> <!-- end caption -->
								</div><!--  end thumbnail -->
							</div> <!-- end col -->

							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="thumbnail">
									<img src="../../image/img-article/Untitled.png" alt="">
									<div class="caption">
										<h3><a href="#">KEDS CHAMPION DIAMOND DOT SNEAKERS</a></h3>
										<p>
											AEROBICS BOYS' FOOTBALL
										</p>
										<div class="money">$56.00</div>
										<p class="text-center">
											<a href="#" class="btn btn-primary">Add To cards</a>
										</p>
									</div> <!-- end caption -->
								</div><!--  end thumbnail -->
							</div> <!-- end col -->

							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="thumbnail">
									<img src="../../image/img-article/Untitled.png" alt="">
									<div class="caption">
										<h3><a href="#">KEDS CHAMPION DIAMOND DOT SNEAKERS</a></h3>
										<p>
											AEROBICS BOYS' FOOTBALL
										</p>
										<div class="money">$56.00</div>
										<p class="text-center">
											<a href="#" class="btn btn-primary">Add To cards</a>
										</p>
									</div> <!-- end caption -->
								</div><!--  end thumbnail -->
							</div> <!-- end col -->

							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="thumbnail">
									<img src="../../image/img-article/Untitled.png" alt="">
									<div class="caption">
										<h3><a href="#">KEDS CHAMPION DIAMOND DOT SNEAKERS</a></h3>
										<p>
											AEROBICS BOYS' FOOTBALL
										</p>
										<div class="money">$56.00</div>
										<p class="text-center">
											<a href="#" class="btn btn-primary">Add To cards</a>
										</p>
									</div> <!-- end caption -->
								</div><!--  end thumbnail -->
							</div> <!-- end col -->

							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="thumbnail">
									<img src="../../image/img-article/Untitled.png" alt="">
									<div class="caption">
										<h3><a href="#">KEDS CHAMPION DIAMOND DOT SNEAKERS</a></h3>
										<p>
											AEROBICS BOYS' FOOTBALL
										</p>
										<div class="money">$56.00</div>
										<p class="text-center">
											<a href="#" class="btn btn-primary">Add To cards</a>
										</p>
									</div> <!-- end caption -->
								</div><!--  end thumbnail -->
							</div> <!-- end col -->

							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="thumbnail">
									<img src="../../image/img-article/Untitled.png" alt="">
									<div class="caption">
										<h3><a href="#">KEDS CHAMPION DIAMOND DOT SNEAKERS</a></h3>
										<p>
											AEROBICS BOYS' FOOTBALL
										</p>
										<div class="money">$56.00</div>
										<p class="text-center">
											<a href="#" class="btn btn-primary">Add To cards</a>
										</p>
									</div> <!-- end caption -->
								</div><!--  end thumbnail -->
							</div> <!-- end col -->
							
						</div>  <!-- end row 2 -->

					</div>	<!-- end content right -->
				</div>
			</div>	<!-- end row -->
		</div>
			
			
		
	</div>
	<div id="footer"></div>
</body>
</html>
