<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/index-style.css">
    <script src="../../JS/jquery.js"></script>
    <script src="../../JS/jquery-3.2.1.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-1.10.2.js"
      integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
      crossorigin="anonymous">
    </script>
</head>
<script>
    $(function(){
        $("#header").load("../common/header.html");
        $("#footer").load("../common/footer.html");
    });
</script>
<body>
<div id="header"></div>
    <!--end header-->
    <div class="my-slider">
        <div id="carousel-id" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img src="../../image/Slide/slide1_image.jpg" style="height: 500px"; width="100%" >
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Example headline.</h1>
                            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                            <p><a class="btn btn-lg btn-primary sua" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../image/Slide/slide2_image.jpg" style="height: 500px"; width="100%" >
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary sua" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <img src="../../image/Slide/slide3_image.jpg" style="height: 500px"; width="100%" >
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>One more for good measure.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary sua" href="#" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!--  end slider -->
    <div class="pic">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#" class="link"><img class="logoproduct" src="../../image/logo/nike.png"></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="link"><img class="logoproduct" src="../../image/logo/nike.png"></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="link"><img class="logoproduct" src="../../image/logo/nike.png"></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="link"><img class="logoproduct" src="../../image/logo/nike.png"></a>
            </div>

            <div class="col-md-3 col-md-offset-3 col-sm-6">
                <a href="#" class="link"><img class="logoproduct" src="../../image/logo/nike.png"></a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="link"><img class="logoproduct" src="../../image/logo/nike.png"></a>
            </div>
        </div>
        <div class="btn_wrapper">
            <a href="../product/html/product.html"><div class="btn sua">view all brands</div></a>
        </div>
    </div>
    <!--End banner-->
<div class="content">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4 col-sm-12 1 ">
                <a href="#" class="link">
                    <div class="show_box1">
                        <img class="img-responsive showproduct" src="../../image/background/custom_showcase1_img.jpg">
                        <div class="show_text1">
                            <h2>men's<br>collection</h2>
                            <div class="btn_wrapper">
                                <div class="btn1">view all</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-8 col-sm-12 ">
                <a href="#" class="link">
                    <div class="show_box2">
                        <img class="img-responsive showproduct" src="../../image/background/custom_showcase2_img.jpg">
                        <div class="show_text2">
                            <h2>unisex<br>collection</h2>
                            <div class="btn_wrapper">
                                <div class="btn2">view all</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-8 col-sm-12 ">
                <a href="#" class="link">
                    <div class="show_box2">
                        <img class="img-responsive showproduct" src="../../image/background/custom_showcase3_img.jpg">
                        <div class="show_text2">
                            <h2>unisex<br>collection</h2>
                            <div class="btn_wrapper">
                                <div class="btn2">view all</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <a href="#" class="link">
                    <div class="show_box1">
                        <img class="img-responsive showproduct" src="../../image/background/custom_showcase4_img.jpg">
                        <div class="show_text1">
                            <h2>men's<br>collection</h2>
                            <div class="btn_wrapper">
                                <div class="btn1">view all</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>FEATURED<br>products</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-12 ab ">
                    <a href="../article/html/article.html" class="link">
                        <div class="product_wrapper" >
                            <div class="banner_new">new</div>
                            <img class="menu_product1 img-responsive" src="../../image/product/champion_woven_slither_1_grande.png">
                        </div>
                    </a>
                    <div class="product_info">
                        <span class="glyphicon glyphicon-check">IN STOCK</span>
                        <p class="product_name">
                            champion woven slither
                        </p>
                        <p class="product_tag">best seller,boys'</p>
                        <p class="price">From $20.00</p>
                        <p class="price_sale">$25.00</p>
                        <div class="btn_wrapper">
                            <div class="btn sua" style="position: relative;bottom: 40px;margin-bottom: 40px;">add to cart</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 ab">
                    <a href="../article/html/article.html" class="link">
                        <div class="product_wrapper" >
                            <div class="banner_new">new</div>
                            <img class="menu_product1 img-responsive" src="../../image/product/keds_champion_01_1_grande.png">
                        </div>
                    </a>
                    <div class="product_info">
                        <span class="glyphicon glyphicon-check">IN STOCK</span>
                        <p class="product_name">
                            champion woven slither
                        </p>
                        <p class="product_tag">best seller,boys'</p>
                        <p class="price">From $20.00</p>
                        <p class="price_sale">$25.00</p>
                        <div class="btn_wrapper">
                            <div class="btn sua" style="position: relative;bottom: 40px;margin-bottom: 40px;">add to cart</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 ab">
                    <a href="../article/html/article.html" class="link">
                        <div class="product_wrapper" >
                            <div class="banner_new">new</div>
                            <img class="menu_product1 img-responsive" src="../../image/product/keds_champion_americana_02_1_grande.png">
                        </div>
                    </a>
                    <div class="product_info">
                        <span class="glyphicon glyphicon-check">IN STOCK</span>
                        <p class="product_name">
                            champion woven slither
                        </p>
                        <p class="product_tag">best seller,boys'</p>
                        <p class="price">From $20.00</p>
                        <p class="price_sale">$25.00</p>
                        <div class="btn_wrapper">
                            <div class="btn sua" style="position: relative;bottom: 40px;margin-bottom: 40px;">add to cart</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content-->
<div class="enter_email">
    <div class="row">
        <div class="col-md-6">
            <p class="newsletter">Newsletter</p>
            <p class="title">Subscribe to the Hamintec mailing list to receive updates on new arrivals, special offers and other discount information.</p>

        </div>
        <div class="col-md-6">
            <form style="margin-top: 70px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Subscribe">
                    <div class="input-group-btn">
                        <button class="btn btn-default submit " type="Subscribe">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!--Remaining section-->
<div id="footer"></div>


<script src="../../JS/bootstrap.min.js"></script>
<script src="../../JS/bootstrap.js"></script>
</body>
</html>
