<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/article.css">
	<link rel="stylesheet" href="../../css/index-style.css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans+Condensed:300|Roboto+Condensed" rel="stylesheet">
	<script src="../../JS/bootstrap.min.js"></script>
	<script src="../../JS/jquery.js"></script>
	<script
      src="http://code.jquery.com/jquery-1.10.2.js"
      integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
      crossorigin="anonymous"></script>
</head>
<script>
    $(function(){
        $("#header").load("../common/header.html");
        $("#footer").load("../common/footer.html");
    });
</script>
<body>
	<div id="header"></div>
	<div class="container">
		<div class="row">
			<nav>
				<a href="#">Home</a>
				<a href="#">\</a>
				<a href="#">Boys</a>
				<a href="#">\</a>
				<a href="#">Champion Woven Slither</a>
			</nav> <!-- end nav -->
		</div>
		
		
		<div class="introduction"> <!-- dòng 2 -->
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="pic">
						<img src="../../image/img-article/Untitled.png" alt="">
					</div>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<div class="infor">
						<h4>CHAMPION WOVEN SLITHER</h4>
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<p class="title-info">Color</p>
								<input type="text" name="">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<p class="title-info">Color</p>
								<input type="text" name="">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<p class="title-info">Color</p>
								<input type="text" name="">
							</div>
						</div>	
						<hr>
						<p>Weight:<span>11.0 lb</span></p>
						<p>SKU:<span>-</span></p>
						<p>Barcode:<span>-</span></p>
						<hr>
						<p>Collections:<span>Best Sellers, Boys</span></p>
						<p>Product type:<span>Boys</span></p>
						<p>Vendor:<span>USA</span></p>
						<p>Tags:  <span class="glyphicon glyphicon-tag">laceUps</span></p>
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div class="paid">
						<div class="money">
							<p>$45,00<span>$39,00</span></p>
							<div class="btn btn-info">-22%</div>
						</div>
						<p>Availability:<span class="colorgreen"> 98 item(s)</span></p>
						<p class="colorgrey">Choose quantity:</p>
						<div class="addtocart">
							<div class="row">
								<div class="col-md-9">
									<input type="text" name="">
									<div class="btn btn-info">Add To Cart</div>	<br>				
									<img src="../pic/Minus-48.png" style="width: 17px">
									<img src="../pic/add.png" alt="" style="margin-left: 7px;">
									<p class="glyphicon glyphicon-heart">Add to the Wishlist</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="icon">
							<a href="#"><img src="../../image/img-article/iconface.png" alt=""></a>
							<a href="#"><img src="../../image/img-article/iconchim.png" alt=""></a>
							<a href="#"><img src="../../image/img-article/iconred.png" alt=""></a>
							<ahref="#"><img src="../../image/img-article/icon4.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end introduction -->
		<div class="videooo">
			<h1>DESCRIPTION</h1>
			<div class="row text-center"><h2>KEDS AND SNICKERS</h2></div>
			<hr style="border: 1px solid grey">
			<iframe width="100%" height="550px" src="https://www.youtube.com/embed/vaNlm1VIZfc" frameborder="0" allowfullscreen></iframe>
			<p>A long time ago we started our store (it’s been more than 15 years ago) and during this time we’ve opened several stores in different cities. Moreover, in order to satisfy more customers, we’ve launched a website, and now you can order any items which falls into your eye and get it within 24 hours to your door (or pick it up yourself, if you like). Apart from the sneakers, here you will find shoes and accessories. Our main principle is to amaze you with high quality and a large selection. And we never stop, achieving this goal. So you can see the result - a big store with a huge choice, a well-trained staff who is always there for you, a flexible return policy and in-time delivery just to your door. 
			rands, and the best brands work for the best customers.</p>
			<div class="row text-center"><h2>SEE YOU IN SNEAKERS!</h2></div>
			<hr style="border: 1px solid grey;margin-bottom: 90px;">
		</div>
	</div>
	<div id="footer"></div>
</body>
</html>